.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.center-text {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

a {
  color: #6b02f5;
}

h1 {
  color: #6b02f5;
  text-align: center;
}

h2 {
  color: #6b02f5;
  text-align: center;
}

body {
  background-color: rgb(228, 224, 11);
  /* background-color: blue; */
}